- @music_likes.each do |ml|
  = ml["id"]
  = ml["name"]
  %button.btn.btn-default.btn-lg
    %span.glyphicon.glyphicon-thumbs-up
  %button.btn.btn-default.btn-lg
    %span.glyphicon.glyphicon-thumbs-down
  %br

/   <button type="button" class="btn btn-default btn-lg">
/   <span class="glyphicon glyphicon-star"></span> Star
/ </button>

